[submodule "Motor-de-controlado-via-Vis-o-Computacional"]
	path = Motor-de-controlado-via-Vis-o-Computacional
	url = https://github.com/PETEngenhariaEletricaUFRN/Motor-de-controlado-via-Vis-o-Computacional.git
